
<section id="contacto" class="dark:bg-[#080808] h-full bg-[linear-gradient(to_right,#ebecec_1px,transparent_1px),linear-gradient(to_bottom,#ebecec_1px,transparent_1px)] dark:bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] font-suse">
    <div class="flex flex-col justify-center px-5 pb-20 sm:px-10 md:px-12 lg:px-20 xl:px-28 2xl:px-80">
        <div>
            <p class="dark:text-white text-black text-center font-semibold text-2xl lg:text-3xl pt-20 pb-8">
                Contacto
            </p>
        </div>
        <form action="https://api.web3forms.com/submit" method="POST" id="form">
            <input type="hidden" name="access_key" value="db65c5ee-6b5c-48ef-a0bb-9639e11d39c2" />
            <input type="hidden" name="subject" value="New Submission from Web3Forms" />
            <input type="checkbox" name="botcheck" id="" style="display: none;" />
  
            <div class="mb-6">
              <label for="name" class="block mb-2 text-lg font-bold text-black dark:text-white">* Nombre Completo</label>
              <input type="text" name="name" id="name" placeholder="Pablo Torres" required class="w-full px-3 py-2 placeholder-gray-300 border border-black rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            </div>
            <div class="mb-6">
              <label for="email" class="block mb-2 text-lg font-bold text-black dark:text-white">* Correo Electronico</label>
              <input type="email" name="email" id="email" placeholder="pablo@gmail.com" required class="w-full px-3 py-2 placeholder-gray-300 border border-black rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            </div>
            <div class="mb-6">
              <label for="phone" class="text-lg font-bold text-black dark:text-white">* Número de Teléfono</label>
              <input type="text" name="phone" id="phone" placeholder="+593 978802788" required class="w-full px-3 py-2 placeholder-gray-300 border border-black rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
            </div>
            <div class="mb-6">
              <label for="message" class="block mb-2 text-lg font-bold text-black dark:text-white">* Mensaje</label>
  
              <textarea rows="5" name="message" id="message" placeholder="Tu mensaje" class="w-full px-3 py-2 placeholder-gray-300 border border-black rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" required></textarea>
            </div>
            <div class="mb-6">
              <button type="submit" class="w-full px-3 py-4 text-white bg-azul-500 dark:bg-white dark:text-black hover:bg-azul-800 dark:hover:bg-azul-200 transition duration-700 ease-in-out rounded-md text-lg">
                Enviar
              </button>
            </div>
            <p class="text-base text-center text-gray-400" id="result"></p>
          </form>
    </div>
</section>

<script is:inline>
    const form = document.getElementById("form");
const result = document.getElementById("result");

form.addEventListener("submit", function (e) {
  const formData = new FormData(form);
  e.preventDefault();
  var object = {};
  formData.forEach((value, key) => {
    object[key] = value;
  });
  var json = JSON.stringify(object);
  result.innerHTML = "Porfavor Espere...";

  fetch("https://api.web3forms.com/submit", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json"
    },
    body: json
  })
    .then(async (response) => {
      let json = await response.json();
      if (response.status == 200) {
        result.innerHTML = json.message;
        result.classList.remove("text-gray-500");
        result.classList.add("text-green-500");
      } else {
        console.log(response);
        result.innerHTML = json.message;
        result.classList.remove("text-gray-500");
        result.classList.add("text-red-500");
      }
    })
    .catch((error) => {
      console.log(error);
      result.innerHTML = "Something went wrong!";
    })
    .then(function () {
      form.reset();
      setTimeout(() => {
        result.style.display = "none";
      }, 5000);
    });
});

  </script>