--- 
---

<section id="evento" class="dark:bg-slate-800 h-full font-suse">
    <div class="flex flex-col justify-center px-5 py-24">
        <div>
            <p class="dark:text-white text-black text-center font-semibold text-2xl">
                Proximos Eventos
            </p>
        </div>
        <div class="grid grid-cols-1 gap-y-8 justify-items-center py-5 dark:text-white">
            <div class="flex flex-col items-center border-4 border-azul-500 w-full rounded-2xl py-5">
                <div class="flex flex-row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#00A6FB" d="M8 14q-.425 0-.712-.288T7 13t.288-.712T8 12t.713.288T9 13t-.288.713T8 14m4 0q-.425 0-.712-.288T11 13t.288-.712T12 12t.713.288T13 13t-.288.713T12 14m4 0q-.425 0-.712-.288T15 13t.288-.712T16 12t.713.288T17 13t-.288.713T16 14M3 22V4h3V2h2v2h8V2h2v2h3v18zm2-2h14V10H5z"/></svg>
                    <p class="ml-2">Diciembre 21, 2024</p>
                </div>
                <div class="flex flex-row py-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#00A6FB" d="M12 12q.825 0 1.413-.587T14 10t-.587-1.412T12 8t-1.412.588T10 10t.588 1.413T12 12m0 10q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2t5.588 2.225T20 10.2q0 2.5-1.987 5.438T12 22"/></svg>
                    <p class="ml-2">Plataforma Quitumbe - Quito</p>
                </div>
                <button class="flex flex-row bg-azul-500 hover:bg-azul-700 font-bold py-1 px-4 rounded-xl transition duration-700 ease-in-out text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="mr-2"><path fill="#FFFFFF" d="M11.2 20q.4-.675.6-1.437T12 17q0-2.5-1.75-4.25T6 11q-1.125 0-2.15.4T2 12.525V6q0-.825.588-1.412T4 4h11q.475 0 .9.213t.7.587L22 12l-5.4 7.2q-.275.375-.7.588T15 20zM5 21v-3H2v-2h3v-3h2v3h3v2H7v3z"/></svg>
                    Entradas
                </button>
            </div>
            <div class="flex flex-col items-center border-4 border-azul-500 w-full rounded-2xl py-5">
                <div class="flex flex-row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#00A6FB" d="M8 14q-.425 0-.712-.288T7 13t.288-.712T8 12t.713.288T9 13t-.288.713T8 14m4 0q-.425 0-.712-.288T11 13t.288-.712T12 12t.713.288T13 13t-.288.713T12 14m4 0q-.425 0-.712-.288T15 13t.288-.712T16 12t.713.288T17 13t-.288.713T16 14M3 22V4h3V2h2v2h8V2h2v2h3v18zm2-2h14V10H5z"/></svg>
                    <p class="ml-2">Diciembre 21, 2024</p>
                </div>
                <div class="flex flex-row py-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#00A6FB" d="M12 12q.825 0 1.413-.587T14 10t-.587-1.412T12 8t-1.412.588T10 10t.588 1.413T12 12m0 10q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2t5.588 2.225T20 10.2q0 2.5-1.987 5.438T12 22"/></svg>
                    <p class="ml-2">Plataforma Quitumbe - Quito</p>
                </div>
                <button class="flex flex-row bg-azul-500 hover:bg-azul-700 font-bold py-1 px-4 rounded-xl transition duration-700 ease-in-out text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="mr-2"><path fill="#FFFFFF" d="M11.2 20q.4-.675.6-1.437T12 17q0-2.5-1.75-4.25T6 11q-1.125 0-2.15.4T2 12.525V6q0-.825.588-1.412T4 4h11q.475 0 .9.213t.7.587L22 12l-5.4 7.2q-.275.375-.7.588T15 20zM5 21v-3H2v-2h3v-3h2v3h3v2H7v3z"/></svg>
                    Entradas
                </button>
            </div>
            <div class="flex flex-col items-center border-4 border-azul-500 w-full rounded-2xl py-5">
                <div class="flex flex-row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#00A6FB" d="M8 14q-.425 0-.712-.288T7 13t.288-.712T8 12t.713.288T9 13t-.288.713T8 14m4 0q-.425 0-.712-.288T11 13t.288-.712T12 12t.713.288T13 13t-.288.713T12 14m4 0q-.425 0-.712-.288T15 13t.288-.712T16 12t.713.288T17 13t-.288.713T16 14M3 22V4h3V2h2v2h8V2h2v2h3v18zm2-2h14V10H5z"/></svg>
                    <p class="ml-2">Diciembre 21, 2024</p>
                </div>
                <div class="flex flex-row py-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#00A6FB" d="M12 12q.825 0 1.413-.587T14 10t-.587-1.412T12 8t-1.412.588T10 10t.588 1.413T12 12m0 10q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2t5.588 2.225T20 10.2q0 2.5-1.987 5.438T12 22"/></svg>
                    <p class="ml-2">Plataforma Quitumbe - Quito</p>
                </div>
                <button class="flex flex-row bg-azul-500 hover:bg-azul-700 font-bold py-1 px-4 rounded-xl transition duration-700 ease-in-out text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="mr-2"><path fill="#FFFFFF" d="M11.2 20q.4-.675.6-1.437T12 17q0-2.5-1.75-4.25T6 11q-1.125 0-2.15.4T2 12.525V6q0-.825.588-1.412T4 4h11q.475 0 .9.213t.7.587L22 12l-5.4 7.2q-.275.375-.7.588T15 20zM5 21v-3H2v-2h3v-3h2v3h3v2H7v3z"/></svg>
                    Entradas
                </button>
            </div>
        </div>
    </div>
</section>