---
const currentYear = new Date().getFullYear();
---

<footer class="bg-slate-100 dark:bg-black font-suse">
    <div class="flex flex-col divide-y divide-black px-10 py-5 text-center">
        <div class="flex flex-wrap justify-between pt-2 pb-6">
            <div class="w-full md:w-1/4 mb-6 md:mb-0 text-black dark:text-white transition duration-700 ease-in-out">
            <p class="text-left font-normal font-bebas text-4xl">RUMBA AZUL</p>
            <p class="mt-5 md:pr-7 text-left">"Porque la fiesta comienza con nosotros."</p>
            </div>
            <div class="w-full md:w-1/4 mb-6 md:mb-0 text-black dark:text-white transition duration-700 ease-in-out">
              <h3 class="text-lg font-semibold mb-4 text-left">Enlaces rápidos</h3>
              <ul class="space-y-2 text-left">
                <li><a href="#portada" class=" dark:hover:text-slate-400 hover:text-azul-400">Inicio</a></li>
                <li><a href="#historia" class=" dark:hover:text-slate-400 hover:text-azul-400">Biografia</a></li>
                <li><a href="#musica" class=" dark:hover:text-slate-400 hover:text-azul-400">Musica</a></li>
                <li><a href="#evento" class="dark:hover:text-slate-400 hover:text-azul-400">Eventos</a></li>
                <li><a href="#galeria" class="dark:hover:text-slate-400 hover:text-azul-400">Galeria</a></li>
                <li><a href="#contacto" class="dark:hover:text-slate-400 hover:text-azul-400">Contacto</a></li>
              </ul>
            </div>
            <div class="w-full md:w-1/4 md:pr-7 mb-6 md:mb-0 text-left text-black dark:text-white transition duration-700 ease-in-out">
              <h3 class="text-lg font-semibold mb-4">Contacto</h3>
              <p class="mb-2">Teléfono: (+593) 0978-8027-88</p>
              <p class="mb-2">Ubicaciòn: Ecuador - Quito</p>
              <p class="">Email: rumbazaul.inc@gmail.com</p>
            </div>
            <div class="w-full md:w-1/4 transition duration-700 ease-in-out">
              <h3 class="text-lg font-semibold mb-4 text-left text-black dark:text-white transition duration-700 ease-in-out">Síguenos</h3>
              <div class="flex space-x-4">
                <a href="#" class="text-gray-400 hover:text-white transition duration-700 ease-in-out">
                    <img src="icon-facebook-black.svg" alt="facebook-icon" class="w-7 dark:hidden">
                    <img src="icon-facebook-white.svg" alt="facebook-icon" class="w-7 hidden dark:block">
                </a>
                <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                    <img src="icon-instagram-black.svg" alt="instagram-icon" class="w-7 dark:hidden">
                    <img src="icon-instagram-white.svg" alt="instagram-icon" class="w-7 hidden dark:block">
                </a>
                <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                    <img src="icon-twitter-black.svg" alt="twitter-icon" class="w-7 dark:hidden">
                    <img src="icon-twitterx-white.svg" alt="twitter-icon" class="w-7 hidden dark:block">
                </a>
                <a href="#" class="text-gray-400 hover:text-white transition duration-300">
                  <img src="icon-youtube-black.svg" alt="twitter-icon" class="w-7 dark:hidden">
                  <img src="icon-youtube-white.svg" alt="twitter-icon" class="w-7 hidden dark:block">
              </a>
              </div>
            </div>
          </div>
        <div class="pb-1 text-black dark:text-white transition duration-700 ease-in-out pt-5">&copy; {currentYear} Rumba Azul. Todos los derechos reservados</div>

    </div>
</footer>