--- 
---

<section class="bg-azul-500">
    <div class="flex flex-col px-5 py-3">
        <div class="text-center font-suse font-semibold text-2xl text-white">Historia</div>
        <div class="flex flex-col py-3">
            <div class="font-suse text-lg text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis doloremque laborum cupiditate in corporis aspernatur provident perspiciatis, nulla, odit asperiores nemo ipsam voluptatem quaerat! Quia molestias in exercitationem voluptatum repellendus?</div>
            <div class="flex items-center justify-center py-6">
                <img src="Portada.jpg" alt="" class="w-48 rounded-xl border-4">
            </div>
        </div>
    </div>
</section>