---
---

<section class="dark:bg-slate-900 h-full font-suse">
    <div class="flex flex-col px-5 py-20">
        <div>
            <p class="dark:text-white text-center font-semibold text-2xl">Integrantes</p>
        </div>
        <div class="grid grid-cols-2 grid-rows-4 gap-y-12 py-10">
            <div class="flex flex-row items-center">
                <div class="flex rounded-2xl bg-slate-300 p-4 w-20 h-20 justify-center items-center">Foto</div>
                <div class="flex flex-col px-3">
                    <div class="text-azul-500 font-extrabold text-lg">
                        Nombre
                    </div>
                    <div class="dark:text-white">
                        Puesto
                    </div>
                </div>
            </div>
            <div class="flex flex-row items-center">
                <div class="flex rounded-2xl bg-slate-300 p-4 w-20 h-20 justify-center items-center">Foto</div>
                <div class="flex flex-col px-3">
                    <div class="text-azul-500 font-extrabold text-lg">
                        Nombre
                    </div>
                    <div class="dark:text-white">
                        Puesto
                    </div>
                </div>
            </div>
            <div class="flex flex-row items-center">
                <div class="flex rounded-2xl bg-slate-300 p-4 w-20 h-20 justify-center items-center">Foto</div>
                <div class="flex flex-col px-3">
                    <div class="text-azul-500 font-extrabold text-lg">
                        Nombre
                    </div>
                    <div class="dark:text-white">
                        Puesto
                    </div>
                </div>
            </div>
            <div class="flex flex-row items-center">
                <div class="flex rounded-2xl bg-slate-300 p-4 w-20 h-20 justify-center items-center">Foto</div>
                <div class="flex flex-col px-3">
                    <div class="text-azul-500 font-extrabold text-lg">
                        Nombre
                    </div>
                    <div class="dark:text-white">
                        Puesto
                    </div>
                </div>
            </div>
            <div class="flex flex-row items-center">
                <div class="flex rounded-2xl bg-slate-300 p-4 w-20 h-20 justify-center items-center">Foto</div>
                <div class="flex flex-col px-3">
                    <div class="text-azul-500 font-extrabold text-lg">
                        Nombre
                    </div>
                    <div class="dark:text-white">
                        Puesto
                    </div>
                </div>
            </div>
            <div class="flex flex-row items-center">
                <div class="flex rounded-2xl bg-slate-300 p-4 w-20 h-20 justify-center items-center">Foto</div>
                <div class="flex flex-col px-3">
                    <div class="text-azul-500 font-extrabold text-lg">
                        Nombre
                    </div>
                    <div class="dark:text-white">
                        Puesto
                    </div>
                </div>
            </div>
            <div class="flex flex-row items-center">
                <div class="flex rounded-2xl bg-slate-300 p-4 w-20 h-20 justify-center items-center">Foto</div>
                <div class="flex flex-col px-3">
                    <div class="text-azul-500 font-extrabold text-lg">
                        Nombre
                    </div>
                    <div class="dark:text-white">
                        Puesto
                    </div>
                </div>
            </div>
            <div class="flex flex-row items-center">
                <div class="flex rounded-2xl bg-slate-300 p-4 w-20 h-20 justify-center items-center">Foto</div>
                <div class="flex flex-col px-3">
                    <div class="text-azul-500 font-extrabold text-lg">
                        Nombre
                    </div>
                    <div class="dark:text-white">
                        Puesto
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>