---
---

<header class="fixed top-[-2px] left-0 right-0 backdrop-blur-md bg-azul-500/50 dark:bg-black/50 px-4 py-3 z-50">
    <nav class="flex flex-row justify-between items-center">
        <!--   Logo   -->

        <div id="logo" class="logo items-end">
            <a href="/" class="text-white text-3xl font-bebas">
              <p class="mt-1">RUMBA AZUL</p>
            </a>
        </div>

        <!--   Menu   -->

        <div>
            <ul id="menu" class="hidden lg:block lg:grid lg:grid-cols-6 lg:gap-6 font-suse text-white justify-center text-center text-lg">
                <li class="p-2 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                    <a href="#portada">Inicio</a>
                </li>
                <li class="p-2 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                    <a href="#historia">Biografia</a>
                </li>
                <li class="p-2 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                    <a href="#musica">Musica</a>
                </li>
                <li class="p-2 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                    <a href="#evento">Eventos</a>
                </li>
                <li class="p-2 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                    <a href="#galeria">Galeria</a>
                </li>
                <li class="p-2 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                    <a href="#contacto">Contacto</a>
                </li>
            </ul>
        </div>

        <!--   Buttons   -->

        <div class="flex flex-row">

            <!--   ButtonDarkMode   -->
    
            <div class="m-auto mr-2 cursor-pointer transition duration-700 ease-in-out">
                <button
                  id="theme-toggle"
                  class="theme-toggle block"
                  aria-label="Toggle theme"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="p-2 text-white hover:bg-azul-300 dark:hover:bg-azul-800 rounded-lg transition duration-700 ease-in-out"
                  >
                    <path
                      d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                    ></path>
                  </svg>
                </button>
              </div>
    
            <!--  ToggleButton   -->
    
            <div>
                <button
                id="menu-toggle"
                class="block lg:hidden text-white hover:bg-azul-300 dark:hover:bg-azul-800 rounded-lg focus:outline-none transition duration-700 ease-in-out"
                >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="w-6 h-6 m-2"
                >
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
                </button>
            </div>

        </div>

    </nav>

    <!--  MobileMenu   -->

    <div class="">
        <ul id="mobile-menu" class="hidden lg:hidden font-suse text-white justify-center text-center text-lg">
            <li class="py-2 my-3 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                <a href="#portada">Inicio</a>
            </li>
            <li class="py-2 my-3 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                <a href="#historia">Biografia</a>
            </li>
            <li class="py-2 my-3 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                <a href="#musica">Musica</a>
            </li>
            <li class="py-2 my-3 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                <a href="#evento">Eventos</a>
            </li>
            <li class="py-2 my-3 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                <a href="#galeria">Galeria</a>
            </li>
            <li class="py-2 my-3 rounded-lg hover:bg-azul-300 dark:hover:bg-azul-800 transition duration-700 ease-in-out">
                <a href="#contacto">Contacto</a>
            </li>
        </ul>
    </div>

</header>

<script is:inline>
    function getThemePreference() {
      if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
      }
      return window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }
  
    function setTheme(theme) {
      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
      localStorage.setItem("theme", theme);
    }
  
    setTheme(getThemePreference());
  
    window.addEventListener("load", () => {
      const themeToggle = document.getElementById("theme-toggle");
      if (themeToggle) {
        themeToggle.addEventListener("click", () => {
          const currentTheme = getThemePreference();
          setTheme(currentTheme === "dark" ? "light" : "dark");
        });
      }
    });
  
    document.addEventListener("astro:after-swap", () => {
      setTheme(getThemePreference());
    });
  
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
  
    menuToggle.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  </script>