--- 
---

<section class="h-svh w-svh">
    <div class="flex flex-col h-screen">
        <div class="">
            <img src="Portada.jpg" alt="" class="w-screen">
        </div>
        <div class="flex flex-col text-center text-white h-5/6">
            <div class="dark:hidden top-0 py-[6rem] w-full h-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,#00A6FB,#fff)]">
                <p class="font-bebas text-[4.9rem] leading-none font-medium text-black dark:text-white">RUMBA AZUL</p>
                <p class="font-bebas text-3xl text-black dark:text-white mt-4 mb-7 mx-3">"Porque la fiesta comienza con nosotros."</p>
                <a href="/" class="bg-black dark:bg-white dark:text-black px-5 pb-3 pt-2 my-6 rounded-xl cursor-pointer hover:bg-azul-700 transition duration-700 ease-in-out">Conócenos</a>
            </div>
            <div class="hidden dark:block top-0 py-[6rem] w-full h-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,#00A6FB,#000)]">
                <p class="font-bebas text-[4.9rem] leading-none font-medium text-black dark:text-white">RUMBA AZUL</p>
                <p class="font-bebas text-3xl text-black dark:text-white mt-4 mb-7 mx-3">"Porque la fiesta comienza con nosotros."</p>
                <a href="/" class="bg-black dark:bg-white dark:text-black px-5 pb-3 pt-2 my-6 rounded-xl cursor-pointer dark:hover:bg-azul-300 transition duration-700 ease-in-out">Conócenos</a>
            </div>
        </div>
    </div>
</section>

